<!-- Rating -->
<div class="card my-4">
    <h5 class="card-header">{{ 'rating'|trans }}</h5>
    <div class="card-body">
        {{ 'work_in_progress'|trans }}
    </div>
</div>
<!--/ Rating -->

<!-- ADS -->
<div class="card my-4">
    <h5 class="card-header">{{ 'ads'|trans }}</h5>
    <div class="card-body">
        <img src="{{ asset('images/banners/algo_book.png') }}" width="100%" alt="">
        <p>წიგნი <strong>"10000000<sub>2</sub> ამოცანა პროგრამირების შემსწავლელთათვის"</strong> შეგიძლიათ შეიძინოთ
            მაღაზია "ლატერნაში"
            (ც.დადიანის 7, სავაჭრო ცენტრი "ქარვასლა", აქვთ სახლში მიტანის სერვისიც საქართველოს მასშტაბით).</p>
        <a href="http://laterna.ge/?cat=98&show=18935#.XJU_zqVRW00" target="_blank">წიგნის შეძენა</a>
    </div>
</div>
<!--/ ADS -->