{% extends 'base.html.twig' %}

{% block title %}მთავარი{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="header-section text-center">
            <h2>მთავარი გვერდი</h2>
            <p>მოგესალმებით <b>Informatics.ge</b>-ზე</p>
            <hr class="bottom-line">
        </div>

        <div class="col-sm-12">
            <div class="col-sm-12 text-center">
                <p>დიდი ტექსტი ან კონტენტი</p>
            </div>
        </div>
    </div>
{% endblock %}
