{#
/**
  * @file
  * Password reset email template in KA.
  *
  * Available variables:
  * - name: Recipient name.
  * - surname: Recipient surname.
  * - token: Reset token.
  * - expiration: Reset token expiration date and time.
  */
#}
<p>მოგესალმებით <b>{{ name }} {{ surname }}</b>,</p>

<p><b>Informatics.Ge</b>-ზე თქვენი პაროლის აღსადგენად გადადით <a href="{{ absolute_url(path('password_reset', {'token': token})) }}">ამ ბმულზე</a>.</p>

<p>გთხოვთ გაითვალისწინოთ, რომ ბმული აქტიურია <b>{{ expiration }}</b>-მდე.</p>
