{#
/**
  * @file
  * Password reset email template in EN.
  *
  * Available variables:
  * - name: Recipient name.
  * - surname: Recipient surname.
  * - token: Reset token.
  * - expiration: Reset token expiration date and time.
  */
#}
<p>Hello <b>{{ name }} {{ surname }}</b>,</p>

<p>Reset your <b>Informatics.Ge</b> password by clicking on <a href="{{ absolute_url(path('password_reset', {'token': token})) }}">this link</a>.</p>

<p>Please note, that the link is active for <b>{{expiration}}</b>.</p>
